{% block content %}
<!DOCTYPE html>
<html lang="en">

  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Lato&family=Montserrat:wght@200&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5e8ced63ce.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static '/js/script.js' %}" type="text/javascript" defer></script>
</head>
<body>
  <div class="login-container">
    <h1>Register</h1>

    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit", value="Register">
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </div>
</body>

{% endblock content %}
